<!docutype html>
<html>
  <head>
    <%# <script type=”text/javascript” src=”javascripts/welcome_script.js”></script> %>
  </head>
  <body>
    <h1>Air Quality Index Reports with Sinatra</h1>
  </body>
</html>